<a href="https://colab.research.google.com/github/Jeisha/FYP-Temp/blob/main/PART_4_Insert_UID_to_DB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import os
os.chdir('drive/MyDrive/FYP')

Mounted at /content/drive

In [ ]:
!pip install db-sqlite3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting db-sqlite3
  Downloading db-sqlite3-0.0.1.tar.gz (1.4 kB)
Collecting db
  Downloading db-0.1.1.tar.gz (3.4 kB)
Collecting antiorm
  Downloading antiorm-1.2.1.tar.gz (171 kB)
     |████████████████████████████████| 171 kB 5.0 MB/s
Building wheels for collected packages: db-sqlite3, db, antiorm
  Building wheel for db-sqlite3 (setup.py) ... done
  Created wheel for db-sqlite3: filename=db_sqlite3-0.0.1-py3-none-any.whl size=1794 sha256=dca209aebe6e58c59cded5d5895dd1751b168ae09a8f9cdb9958a83a32df84bc
  Stored in directory: /root/.cache/pip/wheels/02/38/d5/2f54461050571bf5330fee2a37ab1c9b5e7540b0572f1acdab
  Building wheel for db (setup.py) ... done
  Created wheel for db: filename=db-0.1.1-py3-none-any.whl size=3895 sha256=a6a328590cbdf7ec5e83bc6b5efdcb7ffe0a320f5128fd9d6a9c2646e5815899
  Stored in directory: /root/.cache/pip/wheels/8e/97/82/741d2b360507411ec233d0280d7371faa94b03bde834e4a9be
  Building wheel for antiorm (setup.py) ... done
  Created wheel for antiorm: filename=antiorm-1.2.1-py3-none-any.whl size=31679 sha256=72c33962360afffb056b0bd067cd1db77459806199ce2650b8da6e1543a502a2
  Stored in directory: /root/.cache/pip/wheels/c5/43/70/e9729370cfff40c49d3e3d05377d54b3ecd71f64e62341ea80
Successfully built db-sqlite3 db antiorm
Installing collected packages: antiorm, db, db-sqlite3
Successfully installed antiorm-1.2.1 db-0.1.1 db-sqlite3-0.0.1

In [ ]:
import sqlite3
import os
import sys
import numpy as np
import pandas as pd

In [ ]:
db_path = os.path.join('Database','Database.db')

In [ ]:
def insert_to_loggate_db(platenum):
  mydb = sqlite3.connect(db_path)
  cmd = "insert into registered(plate) values('{}')".format(platenum)
  mydb.execute(cmd)
  mydb.commit()

def check_registered_db(platenum):
  mydb = sqlite3.connect(db_path)
  cmd = "SELECT * FROM registered"
  df = pd.read_sql_query(cmd, mydb)
  platenums = df.plate
  if platenum in list(platenums):
    return True
  else:
    return False

In [ ]:
filename_path = os.path.join('Database','plate_record.txt')
numbers = []
with open(filename_path,'r') as f:
    lines = f.readlines()
    for i in lines:
        numbers.append(i.strip(' \n'))

for i in numbers:
    check = check_registered_db(i)
    if not check:
        insert_to_loggate_db(i)
    else:
        print(f'Plate Number {i} already in the system.')

Plate Number WSQ2505 already in the system.
Plate Number RM3948 already in the system.